@model SocialApp.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
    </dl>
    @using (Html.BeginForm("SetProfile", "Manage", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <fieldset>
            <legend>Photo</legend>
            <div class="editor-label">
                <label for="profile">FileName:</label>
            </div>
            <div class="editor-field">
                <input name="Profile" id="profile" type="file" />
            </div>
            <p>
                <input type="submit" value="Create" />
            </p>
        </fieldset>
    }
</div>
