@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

<ul class="nav navbar-nav">
    <li>
        @Html.ActionLink("My Profile", "Index", "Manage", routeValues: null, htmlAttributes: new { @class = "btn btn-info", title = "Manage" })
    </li>
    <li>            
        <button type="button" class="btn btn-success">
            Friend Requests <span class="badge badge-light">4</span>
        </button>
    </li>
    <li>
        <div class="btn-group">
            <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Manage
            </button>
            <div class="dropdown-menu">
                @Html.ActionLink("Change Profile", "Index", "Manage", null, new {@class = "dropdown-item", title = "My Profile"})
                @Html.ActionLink("Set Photo", "Index", "Manage", null, new {@class = "dropdown-item", title = "My Profile"})
                <div class="dropdown-divider"></div>
                @Html.ActionLink("Change Password", "ChangePassword", null, new {@class = "dropdown-item", title = "Change Password"})

            </div>
        </div>
    </li>
    <li><a class="btn btn-light" href="javascript:document.getElementById('logoutForm').submit()">Logout</a></li>
</ul>
    }
}
else
{
    <ul class="navbar-nav">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
