@using SocialApp.Helpers
@model SocialApp.ViewModels.UserDetailsViewModel

@{
    ViewBag.Title = Model.GetFullName();
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.GetFullName()</h2>

<ul>
    <li>@Model.User.Email</li>
    <li>@Model.User.BirthDate.Age()</li>
    <li>@Model.User.Study</li>
    <li>@Model.User.Work</li>
</ul>

<img src="@Url.Action("GetUserPhoto", "Users" , new { UserId=Model.User.Id })" />