@using Microsoft.AspNet.Identity
@using SocialApp.Helpers
@model SocialApp.ViewModels.UserDetailsViewModel

@{
    ViewBag.Title = Model.GetFullName();
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <img src="@Url.Action("GetUserPhoto", "Users" , new { UserId=Model.User.Id })" alt="Profile Image" class="h-100 w-auto" />
        </div>
        <div class="col-md-6">
            <h2>@Model.GetFullName()</h2>

            @if (Model.User.Work == null)
            {<p>Jobb: <em>Ej satt</em></p> }
            else
            {
                <p>Jobbar på <strong>@Model.User.Work</strong></p>
            }

            @if (Model.User.Study == null)
            {<p>Studier: <em>Ej satt</em></p> }
            else
            {
                <p>Har studerat på <strong>@Model.User.Study</strong></p>
            }

            @if (Model.User.RelationshipStatus.Status == "-")
            {<p>Relation status: <em>Ej satt</em></p> }
            else
            {
                <p>Är <strong>@Model.User.RelationshipStatus.Status</strong></p>
            }

            <p><strong>@Model.User.BirthDate.Age()</strong> år gammal.</p>
        </div>
    </div>
    <div class="row mt-3 mb-5">
        @if (Model.User.Id == User.Identity.GetUserId())
        {
            <button class="btn btn-link btn-sm pl-3">Change Image</button>
            <button class="btn btn-link btn-sm">Change Profile</button>
        }
        else
        {
            <button class="btn btn-primary">Skicka Vänförfråga</button>
        }
    </div>
    <hr/>
    <div class="row mt-5">
        <div class="col-md-6">
            <p>Wall</p>
        </div>
        <div class="col-md-6">
            <p>Friends</p>
        </div>
    </div>
</div>
