@using Microsoft.AspNet.Identity
@using SocialApp.Helpers
@model SocialApp.ViewModels.UserDetailsViewModel

@{
    ViewBag.Title = Model.GetFullName();
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row mb-4">
        <div class="col-md-3 pt-4 text-center">
            <img src="@Url.Action("GetUserPhoto", "Users", new {UserId = Model.User.Id})" alt="Profile Image" class="profile-details-image rounded-circle h-auto w-100" />
        </div>
        <div class="col-md-9 pt-4 pl-4 pb-4 bg-light">
            <h2 class="mb-4">@Model.GetFullName()</h2>

            @if (Model.User.Work == null)
            {<p>Jobb: <em>Ej satt</em></p>}
            else
            { <p>Jobbar på <strong>@Model.User.Work</strong></p>}

            @if (Model.User.Study == null)
            {<p>Studier: <em>Ej satt</em></p> }
            else
            { <p>Har studerat på <strong>@Model.User.Study</strong></p>}

            @if (Model.User.RelationshipStatus.Status == "-")
            {<p>Relation status: <em>Ej satt</em></p> }
            else
            { <p>Är <strong>@Model.User.RelationshipStatus.Status</strong></p>}

            <p><strong>@Model.User.BirthDate.Age()</strong> år gammal.</p>
        </div>
        <div class="w-100"></div>
        <div class="col-md-3 mt-1 text-center">
            @if (Model.User.Id == User.Identity.GetUserId())
            {
                @Html.ActionLink("Change Image", "SetPhoto", "Manage", null, new { @class = "btn btn-link btn-sm" })
                @Html.ActionLink("Change Profile", "SetInformation", "Manage", null, new { @class = "btn btn-link btn-sm" })
            }
            else
            {
                switch (Model.FriendRequestFlag)
                {
                    case SocialApp.Models.FriendRequestFlag.None:
                        @Html.ActionLink("Skicka Vänförfråga", "SendFriendRequest", "Users", new { friendId = Model.User.Id }, new { @class = "btn btn-primary btn-sm" })
                        break;
                    case SocialApp.Models.FriendRequestFlag.Approved:
                        <p>Vänner</p>
                        break;
                    case SocialApp.Models.FriendRequestFlag.Awaiting:
                        <p>Väntar på godkännande</p>
                        break;
                    case SocialApp.Models.FriendRequestFlag.Rejected:
                        <p>Vänförfråga godkänndes inte.</p>
                        break;
                    default:
                        break;
                }
            }
        </div>
    </div>
    <hr />
    <div class="row mt-4 mb-5">
        <div class="col-md-6">
            <h5 class="mb-4">Write a Post</h5>
            @*@Html.TextAreaFor()*@
        </div>
        <div class="col-md-6">
            <h5 class="mb-4">Friends</h5>
            <div class="d-flex flex-column p-2">
                @foreach (var friend in Model.Friends)
                {
                    <div class="d-flex flex-row mb-3">
                        <img src="@Url.Action("GetUserPhoto", "Users" , new { UserId = friend.Id })" alt="Profile Picture" class="users-profile-thumbnail rounded-circle">
                        <p class="mt-2"><strong>@Html.ActionLink(friend.GetFullName(), "Details", "Users", new { userId = friend.Id }, new { @class = "text-dark" })</strong></p>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {

        });
    </script>
}